{#
 TODO: This license is not consistent with license used in the project.
       Delete the inconsistent license and above line and rerun pre-commit to insert good license.
 Copyright (C) 2017 Teela O'Malley

 Licensed under the Apache License, Version 2.1 (the 'License');
#}

<html>
    <title>{value}</title>
</html>
